:root {
  --evcc-darker-green: #0ba631;
  --evcc-dark-green: #0fde41;
  --evcc-darkest-green: #076f20;
  --evcc-green: #baffcb;
  --evcc-orange: #ff9000;
  --evcc-red: #fc440f;
  --evcc-gray-medium: #93949e;
  --evcc-gray-light: #b5b6c3;
  --evcc-gray-10: rgba(147, 148, 158, 0.125);
  --evcc-default-text: #28293e;
}
:root[data-theme="dark"] {
  --evcc-default-text: #ffffff;
}

/* Override Starlight's accent scale with evcc green */
:root,
:root[data-theme="light"] {
  --sl-color-accent-low: color-mix(
    in srgb,
    var(--evcc-darker-green) 10%,
    transparent
  );
  --sl-color-accent: var(--evcc-darker-green);
  --sl-color-accent-high: var(--evcc-darkest-green);
  --sl-color-text-accent: var(--evcc-darker-green);
}
:root[data-theme="dark"] {
  --sl-color-accent-low: color-mix(
    in srgb,
    var(--evcc-dark-green) 16%,
    transparent
  );
  --sl-color-accent: var(--evcc-dark-green);
  --sl-color-accent-high: #baffcb;
  --sl-color-text-accent: var(--evcc-dark-green);
}
