type: custom
name: RCT Power Storage (Battery)
sample: |
  power:
    source: script
    cmd: /bin/bash -c "rctclient read-value --host 192.0.2.2 --name g_sync.p_acc_lp"
    timeout: 5s
  soc:
    source: script
    cmd: /bin/bash -c "echo $(rctclient read-value --host 192.0.2.2 --name battery.soc) \* 100. | bc -l"
    timeout: 5s

# external application from https://github.com/svalouch/python-rctclient is required!