type: custom
name: RCT Power Storage (PV)
sample: |
  power:
    source: script
    cmd: /bin/bash -c "echo $(rctclient read-value --host 192.0.2.2 --name g_sync.p_ac_load_sum_lp) \- $(rctclient read-value --host 192.0.2.2 --name g_sync.p_acc_lp) \- $(rctclient read-value --host 192.0.2.2 --name g_sync.p_ac_grid_sum_lp) | bc -l"
    timeout: 5s

# external application from https://github.com/svalouch/python-rctclient is required!