---
import { Code } from "@astrojs/starlight/components";

interface Props {
  code: string;
}

const { code } = Astro.props;
---

<div class="device-config">
  <Code code={code} lang="yaml" />
</div>

<style>
  .device-config {
    margin: 1rem 0;
  }
</style>
