.advancedButton {
  border: none;
  margin-top: 1rem;
  display: block;
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 0;
  cursor: pointer;
}

.advancedButton u {
  text-decoration: underline;
}

.advancedButton::before {
  content: "    ";
}
