.advancedButton {
  border: none;
  margin-top: 1rem;
  display: block;
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--ifm-color-content-secondary);
}

.advancedButton u {
  text-decoration: underline;
}

.root {
  margin-bottom: var(--ifm-leading);
}

.advanced {
  padding: 0 var(--ifm-pre-padding);
}
