/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00aa0f;
  --ifm-color-primary-dark: #009100;
  --ifm-color-primary-darker: #007700;
  --ifm-color-primary-darkest: #005e00;
  --ifm-color-primary-light: #00c429;
  --ifm-color-primary-lighter: #0fdd42;
  --ifm-color-primary-lightest: #29f75c;
  --ifm-code-font-size: 95%;
  --text-color: #18191a;
  --accent-color: #0074e0;
  --accent-hover-color: #0074e0aa;
  --ifm-navbar-height: 80px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__brand {
  height: 64px;
  margin-right: 0;
}

.navbar__logo {
  height: 100%;
  margin-right: -0.5rem;
}

.navbar__logo img {
  aspect-ratio: 143 / 64;
}

.navbar {
  background: linear-gradient(#fff, #f3ffff);
}

.navbar__link,
.navbar__link:hover,
.navbar__link--active {
  color: var(--text-color);
  font-size: 18px;
}

.navbar__item.navbar__link svg,
.footer__link-item svg {
  display: none;
}

.footer .footer__col {
  text-align: center;
}

.featureFilter {
  display: flex;
  align-items: baseline;
}

.featureFilter .features {
  margin-left: 1rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  display: block;
  background: none;
  border-radius: .5rem;
  color: var(--ifm-color-success-contrast-foreground);
  border: 1px solid var(--ifm-color-success-contrast-foreground);
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
  margin: 0 0.8rem 1rem 0;
  line-height: 1.5em;
  text-decoration: none;
  cursor: pointer;
}

.feature:hover {
  background: var(--ifm-color-success-dark);
  color: var(--ifm-color-success-contrast-background);
  border-color: var(--ifm-color-success-dark);
  text-decoration: none;
} 