name: build

permissions: {}

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: depot-ubuntu-24.04-arm-8
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install
        run: npm ci
      - name: Check formatting
        run: npm run format:check
      - name: Build
        run: npm run build
